body {
  // background: ...;
  background-image: linear-gradient(to right, $mainColor, $secondaryColor);
  overflow-x: hidden;
}

.page-wrap {
  position: relative;
  text-align: center;
  max-width: 1200px;
}
