$black: #212121;
$grey: #555555;
$white: #ffffff;

$blue: #4d75f8;
$darkBlue: #00307b;
$lightBlue: #6fb0fc;

$mainColor: $blue;
$secondaryColor: $lightBlue;
$textColor: $black;
$titleColor: $darkBlue;

$borderRadius: 10px;
$boxShadow: 0 5px 10px -2px rgba($black, 0.4);

$titleFont: "Work Sans", sans-serif;
$bodyFont: "Roboto Mono", monospace;
