.error-page {
  @include flex-center-col;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  h1 {
    text-transform: uppercase;
    margin: 15px 30px;
    font-size: 4rem;
  }

  p {
    font-size: 3rem;
    color: $white;
  }

  a {
    font-size: 1.5rem;
    color: $titleColor;
    margin: 10px;
  }
}
