// Styles de la page Home
.home-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  @include flex-center-col;
  .infos-block {
    @include flex-center-col;
    flex-grow: 1;
    h1 {
      position: relative;
      font-size: 15rem;
      font-weight: 900;
      color: $white;
      margin-bottom: 20px;
      z-index: 1;
      &::after {
        position: absolute;
        top: 10px;
        left: 10px;
        content: "04h11";
        color: transparent;
        z-index: -1;
        -webkit-text-stroke: 4px $mainColor;
      }
    }
    p {
      font-size: 3.5rem;
      font-weight: 500;
      margin-top: 25px;
      font-family: $bodyFont;
      color: $titleColor;
      z-index: 1;
      text-align: center;
    }
  }
  a {
    color: $white;
    transform: scale(2);
    align-self: flex-end;
    margin: 20px 30px 20px 20px;
    transition: color 0.3s ease;
    transition: transform ease-in-out 0.3s;
    &:hover {
      transform: scale(2.2);
    }
    &::after {
      background-color: $white;
      border-radius: $borderRadius;
      content: "";
      width: 0;
      height: 2px;
      display: block;
      position: absolute;
      bottom: 5px;
      transition: width 0.3s ease-in-out;
      -webkit-transition: width 0.3s ease-in-out;
    }
    &:hover::after {
      background-color: $white;
      border-radius: $borderRadius;
      width: 100%;
      left: 0;
    }
  }
}
.bubble1 {
  height: 500px;
  width: 500px;
  position: absolute;
  top: -7%;
  left: -1%;
  border-radius: 100%;
  background-image: linear-gradient(to top left, $mainColor, 70%, $white);
  transition: transform ease-in-out 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}

.bubble2 {
  height: 275px;
  width: 275px;
  position: absolute;
  top: -5%;
  right: -3%;
  border-radius: 100%;
  background-image: linear-gradient(to top left, $mainColor, 65%, $white);
  transition: transform ease-in-out 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}
