// Styles de la page User

.user-page {
  width: 100vw;
  height: 100%;
  @include flex-center-col;

  a {
    position: sticky;
    top: 20px;
    color: $white;
    transform: scale(2);
    align-self: flex-start;
    margin: 20px 30px 20px 20px;
    transition: color 0.3s ease;
    transition: transform ease-in-out 0.3s;
    &:hover {
      transform: scale(2.2);
    }
    &::after {
      background-color: $white;
      border-radius: $borderRadius;
      content: "";
      width: 0;
      right: 0;
      height: 2px;
      display: block;
      position: absolute;
      bottom: 5px;
      transition: width 0.3s ease-in-out;
      -webkit-transition: width 0.3s ease-in-out;
    }
    &:hover::after {
      background-color: $white;
      border-radius: $borderRadius;
      width: 100%;
      right: 0;
    }
  }

  div {
    &.users-info {
      margin: 5% 10%;
      max-width: 1200px;
      padding: 0 10%;
      p {
        &.loading {
          font-size: 3rem;
          font-family: $bodyFont;
          color: $white;
        }
      }

      div {
        &.users-select {
          border: 5px solid $white;
          padding: 24px;
          margin-bottom: 5%;
          h1 {
            @include flex-center;
            select {
              flex-grow: 1;
              background: none;
              border: none;
              color: rgba(255, 255, 255, 0.7);
              outline: none;
              font-family: $bodyFont;
              font-size: 2.5rem;
              -webkit-appearance: none;
              -moz-appearance: none;
            }
            span {
              &.drop-down-icon {
                font-size: 2.5rem;
                color: rgba(255, 255, 255, 0.7);
              }
            }
          }
        }

        &.infos-block {
          @include flex-center-col;
          p {
            align-self: flex-start;
            font-size: 2rem;
            margin: 8px;
            font-weight: bold;
            color: $white;
            &.occupation {
              &::before {
                content: "Occupation: ";
                color: $titleColor;
              }
            }
            &.dob {
              &::before {
                content: "Date de naissance: ";
                color: $titleColor;
              }
            }
          }
        }

        &.articles-list {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
      }
    }
  }
}
