.card {
  @include flex-center-col;
  background: $white;
  width: 45%;
  height: 500px;
  border-radius: $borderRadius;
  margin: 5% 0;
  padding: 20px;
  box-shadow: $boxShadow;
  transition: transform ease-in-out 0.3s;
  &:hover {
    transform: scale(1.03);
  }

  h1 {
    width: 100%;
    height: 20%;
    margin: 10px;
    flex-grow: 1;
    font-size: 1.75rem;
    font-family: $titleFont;
    @include flex-center;
  }

  p {
    width: 100%;
    height: 80%;
    text-align: left;
    overflow: hidden;
  }
}
